<div class="container">
<nav class="navbar navbar-default navbar-fixed-top" id="myScrollspy">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#mynavbar-content">
          <span class="icon-bar">post</span>
          <span class="icon-bar">post2</span>
      </button>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</div>